In [1]:
x = 0
y = 5

In [4]:
if x < y :
    print ('yes')

yes

In [7]:
x = 20
if x > 50:
    print ("benar")
    print ("x is small")
else:
    print ("salah")
    print ("x is large")

salah
x is large

In [8]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 2000

if uang> hargaBuku:
    print("beli buku")
else:
    print("bokek")

bokek

In [9]:
suhu = 15
aktivitas = ''
if suhu < 15:
    aktivitas = 'tidur'
else: 
    aktivitas = "olahraga"

In [11]:
print (aktivitas)

olahraga

In [12]:
if "f" in "foo":
    print("oke")

oke

In [13]:
n = 5
while n>0:
    n-=1
    print (n)

4
3
2
1
0

In [14]:
n = 5
while n>0:
    n-=1
    print (n)

print ("loop ended")

4
3
2
1
0
loop ended

In [15]:
n = 5
while n>0:
    n-=1
    print (n)
    if n == 2:
        break
else:
    print ("loop done")

4
3
2

In [31]:
n = 5
while n>0:
    n-=1
    print (n)
    if n == 2:
        break
else:
    print ("loop done")

4
3
2

In [32]:
x = "*"
baris = 1;
jml= 4;
hasil =""
while baris <= jml:
    kolom = baris
    while kolom > 0:
        hasil +=x
        kolom -=1
    hasil +="*\n"
    baris += 1
print (hasil)

**
***
****
*****

In [67]:
x = "*"
baris = 1;
jml= 4;
hasil =""
while baris <= jml:
    kolom = baris
    while kolom <= 4:
        hasil +=x
        kolom +=1
    hasil +="*\n"
    baris += 1
print (hasil)

*****
****
***
**

In [68]:
temp = input("15F, 45F")

15F, 45F120